<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://media-bjcy-fy-person.bjoss.ctyunxs.cn/PERSONCLOUD/192a88e3-3a38-4101-aab3-6960ff4ffdc6.ipa?response-content-disposition=attachment%3Bfilename%3D%22Shadowrocket_2.2.44.ipa%22%3Bfilename*%3DUTF-8%27%27Shadowrocket_2.2.44.ipa&amp;x-amz-CLIENTNETWORK=UNKNOWN&amp;x-amz-CLOUDTYPEIN=PERSON&amp;x-amz-CLIENTTYPEIN=WEB&amp;Signature=nCU8bKMybsap17ElB04YBSJSHA4%3D&amp;AWSAccessKeyId=0Lg7dAq3ZfHvePP8DKEU&amp;x-amz-userLevel=0&amp;Expires=1704879429&amp;x-amz-limitrate=51200&amp;x-amz-FSIZE=24244231&amp;x-amz-UID=803496355&amp;x-amz-UFID=923071110952654267</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.liguangming.Shadowrocket</string>
				<key>bundle-version</key>
				<string>2.4.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Shadowrocket</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
