<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://download7.mcloud.139.com/storageWeb/servlet/downloadServlet?code=TlMxMTExWXhBUXAxc1Q1NDExN3c0TlhDTGdJ&amp;un=67186A4BF7BDB2F70EAF1A8EA4B7B7A9C067CDEF8454AD596D459DC465F833BB&amp;dom=D978&amp;rate=0&amp;txType=0</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.liguangming.Shadowrocket</string>
				<key>bundle-version</key>
				<string>2.4.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Shadowrocket</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
