<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://download7.mcloud.139.com/storageWeb/servlet/downloadServlet?code=TkYxMTExWXhBUXAxc1Q1MTYxN3c0TllMRDgz&amp;un=E2C33D0E19EDF6FFE21EDC7DBF1C27A7E612D6902327347F9ADCE17BB1C1E100&amp;dom=D975&amp;rate=0&amp;txType=0</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.thaisms.app</string>
				<key>bundle-version</key>
				<string>2.4.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Shadowrocket</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
